{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ title }}
    <hr>
        <nav class="nav navbar-text nav-justified">
            <form action="{{ path('find_user') }}" class="form-inline">
                <input type="text" name="parameter" id="parameter" class="input-group">
                <button type="submit">Buscar</button>
            </form>
        </nav>
    <table class="table table-striped table-hover table-dark">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userList %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.lastName }}</td>
            <td><a  class="btn btn-primary" role="button" href="{{ url('user_view_detail', {id: user.id}) }}">Detalle</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr>
    <h5>{{ currentDate|date }}</h5>
{% endblock %}

{% block stylesheets %}

{% endblock %}
